
.cardsRecords {
    margin: 3rem;
}

.cardsRecords a {
    text-decoration: none;
}

.cardRecord {
    display: flex;
    margin: 1rem auto;
    border: 2px solid black;
    z-index: 9999;
}

.cardRecord span {
    padding: 1rem 2rem;
    background-color: rgb(100, 0, 255);
    color: white;
}
.cardRecord p {
    padding: 1rem;
    width: 100%;
    color: black;
    margin: 0;
}
