body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wordBold {
  font-weight: bold;
}

.loading {
  display: flex;
  justify-content: center;
}

.imageLoading {
  width: 5rem;
}

.cardsRecords {
  margin-top: 3rem;
}

.cardRecord {
  display: flex;
  width: 80rem;
  margin: 1rem auto;
  border: 1px solid black;
}

.cardRecord span {
  padding: 1rem 2rem;
  background-color: rgb(100, 0, 255);
  color: white;
}
.cardRecord p {
  margin: 1rem;
}